:root {
  --background-gray:#f1f1f5;
  --white-color:#fff;
  --gray-color:#767676;
  --gray-pale:#bababa;
  --btn-gray:#f1f1f5;
  --btn-color: linear-gradient(90deg, rgba(39,231,158,1) 0%, rgba(30,198,233,1) 100%);
  --border-color: #00c5b5;
  --main-color:#1BADDE;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
body {
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
}