/* form  */
.changePw__form {
  width: 400px;
  font-size: 1.3rem;
}
.changePw__form .form__input {
  width: 100%;
  margin-bottom: 25px;
}
.changePw__form .form__input .input {
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--main-color);
}
.changePw__form .form__input span {
  font-weight: 700;
}

.changePw__form .form-input__icon {
  background: var(--main-color);
  bottom: 0px;
  right: 0px;
  position: absolute;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.changePw__form .form-input__icon .icon {
  color: var(--white-color);
  font-size: 30px;
}

/* btn */
.btn {
  width: 100%;
  height: 50px;
  font-size: 1.4rem;
  background-color: var(--main-color);
  color: var(--white-color);
  margin-bottom: 30px;
  box-shadow: 0px 5px rgb(0 0 0 / 20%);
}
